[flake8]

max-line-length = 119
ignore = W503, E203

exclude =
    docs/conf.py

per-file-ignores =
# Exclude files that are meant to provide top-level imports
# E402: Module level import not at top of file
# F401: Module imported but unused
    frapy/__init__.py:E402
    frapy/core/downloader/handlers/http.py:F401
    frapy/http/__init__.py:F401
    frapy/linkextractors/__init__.py:E402,F401
    frapy/selector/__init__.py:F401
    frapy/spiders/__init__.py:E402,F401

    # Issues pending a review:
    frapy/utils/url.py:F403,F405
    tests/test_loader.py:E741
