# Define here the models for your scraped items
#
# See documentation in:
# https://docs.frapy.org/en/latest/topics/items.html

import frapy


class ${ProjectName}Item(frapy.Item):
    # define the fields for your item here like:
    # name = frapy.Field()
    pass
